<h1>Edit transaction</h1>

<form action="/transactions/<%= @transaction.id %>" method="post">
  <label>
    Year:
    <br>
    <input class="btn"  type="number" name="year" value="<%= @transaction.year %>"/>
  </label>
  <br>
  <label>
    Month:
    <br>
    <input class="btn"  type="number" name="month" value="<%= @transaction.month %>"/>
  </label>
  <br>
  <label>
    Day:
    <br>
    <input class="btn"  type="number" name="day" value="<%= @transaction.day %>"/>
  </label>
  <br>
  <label>
    Item:
    <br>
    <input class="btn" type="text" name="item" value="<%= @transaction.item %>"/>
  </label>
  <br>
  <label>
    Value $:
    <br>
    <input class="btn" type="text" name="value" value="<%= @transaction.value %>" />
  </label>
  <br>
  <label>
    Merchant:
    <br>
    <input class="btn" type="text" name="merchant" value="<%= @transaction.merchant %>"/>
  </label>
  <br>
  <label>
    Category:
    <br>
      <% @tags.sort! { |tag1, tag2| tag1.id <=> tag2.id } %>
      <select name="tag_id">
      <% for tag in @tags %>
          <option <%= "selected" if @transaction.tag_id == tag.id %> value = <%= tag.id %> > <%= tag.category %> </option>
      <% end %>
    </select>
  </label>
  <br>
  <br>
  <input class="btn" type="submit" value="Update transaction">
</form>
<br>
<a href="/transactions">Back to all transactions</a>