<h1>Transactions</h1>
<br>
<p>Add new transaction by clicking on following link.</p>
<br>
<a href="/transactions/new">Add transaction</a>
<br>
<br>
<p>Check spending by category: </p>
<br>
<form action="/transactions" method="get">
  <select name="tag_id">
    <% @tags.sort! { |tag1, tag2| tag1.id <=> tag2.id } %>
    <% for tag in @tags %>
        <option <%= "selected" if @selected_tag == tag.id %> value = <%= tag.id %> > <%= tag.category %> </option>
    <% end %>
  </select>
  <input class="btn" type="submit" value="Check category">
</form>
<% if @selected_tag %>
  <br> 
  <p> 
    You have spent <%= "%.2f" % @total_spent_by_tag %> $ on
    <% for tag in @tags %>
        <%= tag.category if tag.id == @selected_tag %> 
    <% end %>
    .
  </p>
<% end %>
<br>
<p>All existing transactions:</p>
<br>
<table class="transactions">
  <thead>
    <tr>
      <th scope=”col”>Date</th>
      <th scope=”col”>Item</th>
      <th scope=”col”>Merchant</th>
      <th scope=”col”>Value</th>
      <th scope=”col”>Category</th>
      <th scope=”col”>Show</th>
      <th scope=”col”>Edit</th>
      <th scope=”col”>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.sort! { |transaction1, transaction2| [ transaction2.year, transaction2.month, transaction2.day ] <=> [ transaction1.year, transaction1.month, transaction1.day ] } %>
    <% for transaction in @transactions %>
    <tr>
      <th scope=”row”><%= transaction.year %>/<%= transaction.month %>/<%= transaction.day %></th>
      <td><%= transaction.item %></td>
      <td><%= transaction.merchant %></td>
      <td>$ <%= "%.2f" % transaction.value.round(2) %></td>
      <td><%= transaction.tag().category %></td>
      <td>
        <form action="/transactions/<%= transaction.id %>" method="GET">
          <input class="btn" type="submit" value="SHOW" />
        </form>
      </td>
      <td>
        <form action="/transactions/<%= transaction.id %>/edit" method="GET">
          <input class="btn" type="submit" value="EDIT" />
        </form>
      </td>
      <td>
        <form action="/transactions/<%= transaction.id %>/delete" method="POST">
          <input class="btn" type="submit" value="DELETE" />
        </form>
      </td>
    </tr>
    <% end %> 
  </tbody>
</table>