<h1>Transactions</h1>
<br>
<p>Add new transaction by clicking on following link.</p>
<br>
<a href="/transactions/new">Add transaction</a>
<br>
<br>
<p>All existing transactions:</p>
<br>
<table>
  <thead>
    <tr>
      <th scope=”col”>ID</th>
      <th scope=”col”>Item</th>
      <th scope=”col”>Merchant</th>
      <th scope=”col”>Value</th>
      <th scope=”col”>Category</th>
      <th scope=”col”>Show</th>
      <th scope=”col”>Edit</th>
      <th scope=”col”>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.sort! { |transaction1, transaction2| transaction2.id <=> transaction1.id } %>
    <% for transaction in @transactions %>
    <tr>
      <th scope=”row”><%= transaction.id %></th>
      <td><%= transaction.item %></td>
      <td><%= transaction.merchant %></td>
      <td>$ <%= "%.2f" % transaction.value.round(2) %></td>
      <td><%= transaction.tag().category %></td>
      <td>
        <form action="/transactions/<%= transaction.id %>" method="GET">
          <input class="btn" type="submit" value="SHOW" />
        </form>
      </td>
      <td>
        <form action="/transactions/<%= transaction.id %>/edit" method="GET">
          <input class="btn" type="submit" value="EDIT" />
        </form>
      </td>
      <td>
        <form action="/transactions/<%= transaction.id %>/delete" method="POST">
          <input class="btn" type="submit" value="DELETE" />
        </form>
      </td>
    </tr>
    <% end %> 
  </tbody>
</table>